* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px;
}

.recipe-list ul {
    list-style-type: none;
}

.recipe-list li{
    text-align: center;
    font-size: 25px;
    margin: 10px;
}
